.a {
  height: 100vh;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  align-items: center;
  color: #151719;
  background-color: whitesmoke;
}

.a-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.a-right {
  display: grid;
}

.a-card.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #151719;
}

.a-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.a-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.a-award-img {
  width: 120px;
  height: 120px;
  border-radius: 20px;
  cursor: pointer;
}

.a-title {
  font-weight: 600;
  color: #151719;
  margin-top: -2px;
  /* margin-left: 253px; */
  font-family: 'Poppins';
  font-size: 40px;

}

.a-subtitle {
  /* margin-left: 261px; */
  font-weight: 300;
  letter-spacing: 3px;
}

.a-sub {
  padding-top: 30px;
  color: #151719;
  font-weight: 500;
}

.a-desc {
  font-weight: 400;
  /* margin-right: 200px; */
  color: #151719;
  /* border: solid 1px black; */
  /* width: 650px; */
}

.a-award {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding-right: 200px; */
}


.a-award-title {
  font-weight: bold;
  /* color: #ECEDED; */
  color: #151719;
  margin-bottom: 10px;
}

.a-award-desc {
  color: #151719;

}


.seperatorline {
  width: 35%;
  height: 2px;
  background-color: #1f221f;
  margin-top: 13px;

}

.seperatorblob {
  height: 10px;
  width: 10%;
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 9px;
}

.seperatorblob div {
  width: 35px;
  border-radius: 10px;
  background-color: #5658dd;
}

.highlights {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  color: #6b6dff;
}

.highlights-list {
  color: #151719;
  padding-top: 6px;
  padding-left: 4px;

}

.bullet {
  left: -30px;
  height: 10px;
  width: 12px;
  border-radius: 50%;
  background-color: #5658dd;
  margin-top: 5px;
  margin-left: 4px;
}

.points {
  display: flex;
}

@media screen and (max-width:600px) {
  .a {
    flex-direction: column;
    text-align: center;
    /* margin-top: -8px; */
  }

  .a-card {
    height: 30vh;
  }

  .a-card.bg {
    display: none;
  }

  .a-right {
    width: 100vw;
    padding: 2rem;
    /* box-shadow: 2px 2px 10px 3px black; */
  }

  .a-desc {
    margin: auto;
    margin-top: 50px;
    text-align: center;
  }

  .a-award {
    margin-top: 0px;
    display: flex;
    align-items: center;
    height: 18vh;
    background-color: whitesmoke;
  }

  .a-award-img {
    border-radius: 20px;
    cursor: pointer;
    height: auto;
    width: 20%;
  }

  .seperatorline {}
}

@media screen and (max-width: 768px) {}