.ps-container {
    display: flex;
}

.ps-skills {
    margin-top: 20px;
}

.ps-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.ps-bar {
    position: relative;
    border: 2px solid #5658dd;
    border-radius: 20px;
    width: 200px;
}

.ps-bar div {
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #5658dd;
}

.ps-container {
    margin-left: 116px;
    margin-top: 15px;
}

.rightps {
    padding-left: 100px;
}

#html-bar {
    animation: react-fill 2s forwards;
}

@keyframes react-fill {
    100% {
        width: 90%;
    }
}

#css-bar {
    animation: express-fill 2s forwards;
}

@keyframes express-fill {
    100% {
        width: 70%;
    }
}

#js-bar {
    animation: NodeJs-fill 2s forwards;
}

@keyframes NodeJs-fill {
    100% {
        width: 90%;
    }
}

#react-bar {
    animation: sql-fill 2s forwards;
}

@keyframes sql-fill {
    100% {
        width: 50%;
    }
}

#redux-bar {
    animation: mongodb-fill 2s forwards;
}

@keyframes mongodb-fill {
    100% {
        width: 50%;
    }
}

#tailwindcss-bar {
    animation: NodeJs-fill 2s forwards;
}

@keyframes NodeJs-fill {
    100% {
        width: 90%;
    }
}
#java-bar {
    animation: java-fill 2s forwards;
}

@keyframes java-fill {
    100% {
        width: 70%;
    }
}

#java-bar {
    animation: javascript-fill 2s forwards;
}

@keyframes javascript-fill {
    100% {
        width: 70%;
    }
}

#git-bar {
    animation: git-fill 2s forwards;
}

@keyframes git-fill {
    100% {
        width: 80%;
    }
}

#firebase-bar {
    animation: firebase-fill 2s forwards;
}

@keyframes firebase-fill {
    100% {
        width: 90%;
    }
}

@media screen and (max-width:480px) {
    .ps-container {
        margin-left: -4px;
        margin-top: 15px;
    }

    .rightps {
        padding-left: 30px;
    }

    .ps-bar {
        width: 8rem;
    }

    .right {
        padding-left: 1rem;
    }
}